DATABASE_URL=""

POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="botsil"
POSTGRES_USER="botsil"
POSTGRES_PASSWORD="botsil"

PGADMIN_PORT="5050"
PGADMIN_DEFAULT_EMAIL="admin@botsil.local"
PGADMIN_DEFAULT_PASSWORD="admin"

ALLOWED_CORS="http://localhost:3000"
SV_PORT="3333"
